<app-intro *ngIf="!votingAlgorithmSelected"
           [mergeSortQuantity]="mergeSortQuantitity"
           [eliminationQuantity]="eliminationQuantity"
           (choseAlgorithm)="onChoseAlgorithm($event)">
</app-intro>

<app-photo-picker *ngIf="votingAlgorithmSelected && !isFinished"
                  [photoA]="photoA"
                  [photoB]="photoB"
                  (votedForPhoto)="onVoted($event)">
</app-photo-picker>

<app-final-order *ngIf="votingAlgorithmSelected && isFinished"
                 [results]="results">  
</app-final-order>