<h1>Photo contest</h1>
<p>Welcome to our photo contest! Please take your time to vote for the best photos. This website will help you to make this decision by presenting a face-off between 2 pictures several times, until it is able to tell what is your preference order for all photos.</p>
<p>Pick one of the 2 options for voting:</p>
<ul>
    <li><button (click)="chooseAlgorithm('mergesort')">Vote {{mergeSortQuantity}} times or less. Longer, more precise.</button></li>
    <li><button (click)="chooseAlgorithm('elimination')">Vote {{eliminationQuantity}} times. Quicker, less precise.</button></li>
</ul>
<h2>Additional details</h2>
<p>TODO: Merge sort, elimination</p>
