@import "../../styles.scss";

p.button {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

p.option-description {
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

a.language {
    font-size: 0.8em;
} 