<div class="narrow">
  <h1 translate>FINAL_LAST_STEP</h1>
  <p class="button"><a href={{formLink}} class="button" translate>FINAL_OPEN_FORMS</a></p>
  <p translate>FINAL_RESULT_EXPLANATION</p>
  <p translate>FINAL_RESULT_FOLLOW_LINK</p>
  <section class="non-inline-div" *ngFor="let group of results">
    <p class="score" translate [translateParams]="{score: group.score}">FINAL_SCORE</p>
    <div class="inline-div" *ngFor="let photo of group.photos">
        <img src="assets/{{photo.index}}.jpg" />
    </div>
  </section>
</div>
