.inline-div {
    display: inline-block;
    margin: 4px;
}

.non-inline-div {
    clear: left;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
}

p.score {
    margin: 0;
    font-weight: 900;
    margin-top: 10px;
}

p.button {
    text-align: center;
}

a.button {
    display: inline-block;
}